
@{
    ViewBag.Title = "Index";
}

<h2>Welcome user!</h2>
<div class="container-fluid" style="display:flex;justify-content:center">
    <img src="~/image/bg.jpg"  class="img-fluid"/>
</div>

